body{
  background-color: #111315;
  color: white;
}

#name {
  /* box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff; */
  padding: 14px;
  border: 0.5px solid rgb(129, 127, 127);
  display: grid;
  background-color: #2A86ff;
  
}

#NavBar {
  display: flex;
  justify-content: space-between;
  /* background: rgb( 237, 237, 237, .1);
    backdrop-filter: blur(10px); */
  margin-bottom: 34.6px;
  background-color: #30353C;
}

.NS {
  margin-top: 50px;
  cursor: pointer;
  height: 20px;
  /* background-color: #111315; */
  background-color: aliceblue; 
  color: black;
}

/* div:hover a:not(:hover){
    opacity: .7;
    transform: scale(.85)
} */

#Intro{
  display: flex;
  justify-content: space-evenly;
  background-color:#30353C;
}

#profilephoto,
#proimage {
  /* box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff; */
  border-radius: 100%;
}

.sty {
  padding-bottom: 14px;
  padding-top: 14px;
  text-align: center;
  /* box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff; */
  border: 0.5px solid rgb(129, 128, 128);
  background-color: #2A86ff;
}

#edu1 {
  padding-bottom: 14px;
  padding-top: 14px;
  style: "box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff";
}
.eduItem {
  display: flex;
  justify-content: space-between;
  width: 95vw;
}

/* #edusty{
    padding-bottom:14px ;
    padding-top: 14px;
    text-align: center;
} */

/* #ssc,#hsc,#b-tech{
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto auto;
    background: #babecc;
    width: 100vw;
    margin-left: 60px;


} */

.sI {
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;

  grid-gap: 1px;
  background-color: #30353C;
}

.item,
.itemgs {
  /* background-color:  #babecc; */
  padding: 20px;
  text-align: center;
  border: 1px solid black;
}

.gskill {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;

  grid-gap: 1px;
}

.itemgs {
  /* box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff; */
  background-color: #30353C;
}

#button {
    display: flex;
    justify-content: space-between;
    /* background: rgb( 237, 237, 237, .1);
      backdrop-filter: blur(10px); */
      margin-right: 10%;
      
  }

  #info{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  
    grid-gap: 1px;
    background-color: #30353C;
   
  }

  #proinfo{
    padding: 20px;
    text-align: center;
    border: 1px solid black;
  }

  #footer{
   
    text-align: left;
    background-color: #2A86ff;
    margin-bottom: 34.6px;
    /* box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff; */
  }

  #footIcon{
    display: flex;
    justify-content: right;
    cursor: pointer;
   
  }

  #footimg{
    /* box-shadow: 10px 10px 20px #babecc; */
    height: 40px;
    border-radius: 100%;
  }

.fi{
  display: flex;
  justify-content: left;
}
