body{
  background-color: #111315;
  color: white;
}

#name {
  /* box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff;
  padding: 14px;
  border: 0.5px solid rgb(129, 127, 127);
  display: grid;
   */
  
   font-family: 'Poppins', sans-serif;
   margin-top: 13px;
   margin-left: 20px;
}

#NavBar {
  display: flex;
  justify-content: space-between;
  height: 13vh;
  /* background: rgb( 237, 237, 237, .1);
    backdrop-filter: blur(10px); */
  position: fixed;
  padding: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #2A86ff;
}


.NS {
  margin-top: 22px;
  cursor: pointer;
  font-family: Century Gothic;
  /* background-color: #111315; */
  /* background-color: #2A86ff;  */
  color: rgb(255, 255, 255);
  margin-bottom: 21.44;
  font-size: 11.6px;
  
}

.NS{
  color: #ffffff;
  text-decoration: none;
  padding: 0 20px;
  letter-spacing: 0.5px;
  transition: 0.2s;

}

.NS::after {
  content: " ";
  left: 0;
  width: 0%;
  background-color: #0F67B1;
  transition: all 0.5s ease-out;
}
.NS:hover {
  color: #ffffff;
  font-size:  medium;
  
}
.NS:hover:after {
  width: 100%;
}

.itemgs{
  color: #ffffff;
  text-decoration: none;
  padding: 0 20px;
  letter-spacing: 0.5px;
 
  transition: 0.2s;
}

.itemgs::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #ffffff;
  transition: 0.3s linear;
}
.itemgs:hover {
  background-color: #2A86ff;
  font-size: x-large;
}
.itemgs:hover:after {
  width: 100%;
}



/* div:hover a:not(:hover){
    opacity: .7;
    transform: scale(.85)
} */

#Intro{
  /* display: flex;
  justify-content: space-evenly; */
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;

  grid-gap: 1px;
  /* background-color:#30353C; */
}

#profilephoto,
#proimage {
  /* box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff; */
  border-radius: 100%;
}



.sty {
  padding-bottom: 14px;
  padding-top: 14px;
  text-align: center;
  /* box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff; */
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #2A86ff;
  font-family: Segoe UI;
  font-weight: normal;
 
 
}

#edu1 {
  padding-bottom: 14px;
  padding-top: 14px;
  style: "box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff";
}
.eduItem {
  display: flex;
  justify-content: space-between;
  width: 95vw;
}

/* #edusty{
    padding-bottom:14px ;
    padding-top: 14px;
    text-align: center;
} */

/* #ssc,#hsc,#b-tech{
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto auto;
    background: #babecc;
    width: 100vw;
    margin-left: 60px;


} */

.sI {
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;

  grid-gap: 1px;
  /* background-color: #30353C; */
  margin-top: 10px;
  margin-bottom: 10px;
}

.item,
.itemgs {
  /* background-color:  #babecc; */
  padding: 20px;
  text-align: center;
  border: 1px solid black;
}

.gskill {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;

  grid-gap: 1px;

  margin-top: 10px;
  margin-bottom: 10px;
  
}

.itemgs {
  /* box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff; */
  /* background-color: #30353C; */
}

#button {
    display: flex;
    justify-content: space-between;
    /* background: rgb( 237, 237, 237, .1);
      backdrop-filter: blur(10px); */
      /* margin-right: 10%; */
      
  }

  #info{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  
    grid-gap: 1px;
    /* background-color: #30353C; */
   
  }

  #proinfo{
    padding: 20px;
    text-align: center;
    border: 1px solid black;
  }

  #footer{
   
    text-align: left;
    background-color: #2A86ff;
    margin-bottom: 10px;
    /* box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff; */
  }

  #footIcon{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
   
  }

  #footimg{
    /* box-shadow: 10px 10px 20px #babecc; */
    height: 40px;
    border-radius: 100%;
  }

  

.fi{
  display: flex;
  justify-content: left;
  font-family: Century Gothic;
  margin-left: 10px;
  margin-right: 10px;

}

#para {
  margin-left: 50px;
}

#dev {
  display: flex;
  justify-content: left;
}

#footcenter{
  display: flex;
  justify-content: space-between;
}





